ion-content {
  .main-header {
    height: 25vh;
    width: 100%;
    background: #202020;
    border-radius: 0% 0% 15.8% 15.8%;
    margin-top: -65px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    color: #fff;
    margin-left: 2rem;
  }
}
.ic {
  color: #f07d07;
  background-color: #191919;
  border-radius: 25px;
}
.main-header-infos {
  width: 80%;
  display: flex;
  align-items: center;
}

.dados {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 11px;
  margin-left: 10px;
  h3 {
    color: #fff;
    margin-top: -7px;
    font-weight: bold;
  }
  .nivel {
    color: #6a36e8;
    margin-top: -10px;
  }
}
.main-header-btns {
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  width: 70%;
  height: 27px;
  border-radius: 30px;
  ion-icon,
  ion-label {
    color: #b6610a;
  }
  ion-button {
    background: transparent;
    --box-shadow: none;
  }
  ion-label {
    font-size: 10px;
    margin-right: 3px;
  }
}
.main {
  margin-left:2rem ;
  margin-bottom: .5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  width: 100vw;
}


.new{
  background-color: #b6610a;
  font-size: 8px;
  letter-spacing: 2px;
  margin-left: 3px;
  margin-bottom: 15px;
  padding: 2px;
  border-radius: 8px;
}
.main-card2 {
  width: 300px;
  height: 130px;
  background-image: url("../../assets/img/levantamento.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 1rem;
  // display: flex;
  border-radius: 15px;

}
.main-card2 label {
  padding-left: 80px;
  padding-right: 145px;
  color: #fff;
  display: flex;
  text-align: left;
  margin-top: 95px;
  margin-left: -70px;
  font-weight: bold;
  font-size: 12px;
}

.background{
  position: relative;
  width: 600px;
  height: 100px;
  margin-right: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  mask-image: linear-gradient(to bottom, #000 50%, rgba(0, 0, 0, 0.001) 98%);

}

.background::before{
content: '';
position: absolute;
width: 600px;
height: 100px;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url('../../assets/img/levantamento.jpg');
background-size: cover;
background-position: center;
opacity: 0.4;
border-radius: 15px;
}
.background h2, p{
  color: #fff;
  z-index: 1;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.background p{
  margin-right: 30px;

}
